.bio {
  display: flex;
  justify-content: center;
  padding: 40px 0;
}

.bio_img {
  margin-right: 24px;
}

.bio_name {
  text-align: left;
  margin: 0;
  margin-top: 24px;
}

.bio_title {
  margin-bottom: 32px;
}

.bio_bio {
  width: 600px;
}