.header {
  z-index: 2;
  padding: 8px 24px;
  width: 100vw;
  background: #4B4B4B;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  left: 0;

  ul {
    display: flex;
    align-items: center;
    &:hover {
      cursor: pointer;
    }

    li {
      margin-left: 40px;
      font-weight: bold;
      &:hover {
        cursor: pointer;
        color: white;
      }
      &:first-of-type { margin-left: 0; }
    }
  }
}

.header_logo {
  display: flex;
  align-items: center;
  &:hover {
    cursor: pointer;
  }
  color: #c1b9b9;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 2px;
}

.header_logo-img {
  height: 55px;
  margin-right: 12px;
}

.header_link {
  color: #c1b9b9;
}