.button_cta {
  // box
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
  // style
    background: $red;
  // text
    color: white;
    font-weight: bold;
  // pseudo
    &:hover {
      transform: scale(1.05);
      cursor: pointer;
    }
  }
  
.intro {
  // position
    position: relative;
  // display
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
  // size
    width: 100vw;
    height: 500px;
  // style
    color: white;
    background: gray;
    background-image: url('./Assets/Background.png');
    background-position-x: 50%;
    background-size: cover;
    background-attachment: fixed;
    h2 { color: $logogray; }
}

.mascot {
// position
  position: absolute;
  right: 50px;
  bottom: -60px;
}

@media(max-width: 1200px) {
  .mascot {
    display: none;
  }
}

@media(max-width: 900px) {
  .intro {
    height: 400px;
    text-align: center;
  }
}