// position
// display
// size
// style
// text

.landing_services {
  // display
  display: flex;
  flex-flow: column;
  align-items: center;
  // text
    text-align: center;
}

.landing_title {
  margin: 40px;
  text-align: center;
}

.landing_services-container {
  // display
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100vw;
    padding: 0 24px;

  // position
    margin-bottom: 40px;
}

.landing_service {
  margin: 0 24px;
  margin-bottom: 24px;
}

.service_icon-placeholder {
  // style
    height: 128px;
    width: 128px;
    background: gray;
    // border-radius: 50%;
    border-radius: 12px;
  // text
    margin-bottom: 16px;
}

.landing_mission {
  background: gray;
  height: 400px;
}

@media(max-width: 1110px) {
  .landing_services-container {
    max-width: 600px;
    flex-wrap: wrap;
  }
}

@media(max-width: 400px) {
  .service_icon-placeholder {
    height: 90px;
    width: 90px;
    margin-bottom: 8px;
  }
}