.service_summary {
  display: flex;
  flex-flow: column;
  align-items: center;
}

.service_summary-h3 {
  color: $red;
  margin: 24px;
  font-size: 1.6rem;
}

.service_summary-p {
  max-width: 716px;
  text-align: center;
}

.service_gallery {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin-bottom: 36px;
}

.service_main-picture {
  height: 400px;
  width: 716px;
}

.service_gallery-preview {
  display: flex;
  align-items: center;
  margin-top: 24px;
  max-width: 800px;
}

.gallery-box {
  height: 124px;
  width: 124px;
  margin: 0 12px;
  padding: 4px;
  opacity: 0.4;
  &:hover { 
    cursor: pointer;
    padding: 0px;
    // border: 4px solid $logogray;
  }
}

.gallery-box_active {
  padding: 0px;
  // border: 4px solid $red;
  opacity: 1;
  // &:hover {
  //   border: 4px solid $red;
  // }
}