@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
// font-family: 'Montserrat', sans-serif;

$red: #FB0001;
$darkgray: #4B4B4B;
$logogray: #c1b9b9;

.App {
}

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

@mixin b($color) {
  border: 2px solid $color;
}

.button_cta {
// box
  border: none;
  padding: 8px 24px;
  border-radius: 8px;
// style
  background: $red;
// text
  color: white;
  font-weight: bold;
  font-size: 1rem;
// pseudo
  &:hover {
    transform: scale(1.05);
    cursor: pointer;
  }
}

@import './about';
@import './general';
@import './header';
@import './landing';
@import './service';